* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main .summary {
  box-sizing: border-box;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
}
main .summary .sliders {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d3237;
  gap: 8px;
}
main .summary .sliders .nameFile {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  gap: 8px;
}
main .summary .sliders .nameFile img {
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  background-color: white;
}
main .summary .sliders .nameFile p {
  box-sizing: border-box;
  width: 85%;
  font-size: 24px;
  font-weight: 600;
  color: white;
  font-family: "Roboto", sans-serif;
}
main .summary .sliders .slider {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  padding: 4px;
}
main .summary .sliders .slider img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}
main .summary .detailInformation {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}
main .summary .detailInformation .overfiew {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  gap: 4px;
}
main .summary .detailInformation .overfiew .wrap1 {
  box-sizing: border-box;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
main .summary .detailInformation .overfiew .wrap1 .buttons {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
  border-bottom: 2px solid #dedede;
  gap: 8px;
}
main .summary .detailInformation .overfiew .wrap1 .buttons button {
  box-sizing: border-box;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  border: none;
  outline: none;
  color: #808080;
  cursor: pointer;
}
main .summary .detailInformation .overfiew .wrap1 .buttons button.actif {
  color: black;
  border-bottom: 3.5px solid black;
}
main .summary .detailInformation .overfiew .wrap1 .description {
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin-bottom: 8px;
}
main .summary .detailInformation .overfiew .wrap1 ul {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
  gap: 4px;
}
main .summary .detailInformation .overfiew .wrap1 ul p {
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
main .summary .detailInformation .overfiew .wrap1 .description2 {
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin-bottom: 32px;
}
main .summary .detailInformation .overfiew .wrap1 .title {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-size: 24px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  margin-bottom: 32px;
}
main .summary .detailInformation .overfiew .wrap1 .version {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  margin-bottom: 32px;
}
main .summary .detailInformation .overfiew .wrap1 .version span {
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 800;
  color: #c7c7c7;
  font-family: "Roboto", sans-serif;
}
main .summary .detailInformation .overfiew .wrap1 .description3 {
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
main .summary .detailInformation .overfiew .wrap2 {
  box-sizing: border-box;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 12px;
}
main .summary .detailInformation .overfiew .wrap2 .licensi {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  margin-bottom: 32px;
}
main .summary .detailInformation .overfiew .wrap2 .licensi .title {
  text-align: left;
  font-size: 14px;
  font-weight: 800;
  color: #cacaca;
  font-family: "Roboto", sans-serif;
}
main .summary .detailInformation .overfiew .wrap2 .licensi .description {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: #55bfe0;
  font-family: "Roboto", sans-serif;
}
main .summary .detailInformation .overfiew .wrap2 .category {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
}
main .summary .detailInformation .overfiew .wrap2 .category .title {
  box-sizing: border-box;
  text-align: left;
  font-size: 14px;
  font-weight: 800;
  color: #cacaca;
  font-family: "Roboto", sans-serif;
}
main .summary .detailInformation .overfiew .wrap2 .category .description {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: #2d3237;
  font-family: "Roboto", sans-serif;
}
main .summary .detailInformation .overfiew .wrap2 .category .description span {
  color: #55bfe0;
}
main .summary .detailInformation .overfiew .wrap2 .action {
  box-sizing: border-box;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 20px 12px;
  background-color: #f1f1f1;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  margin-bottom: 38px;
}
main .summary .detailInformation .overfiew .wrap2 .action a {
  box-sizing: border-box;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #41d21e;
  border: 1px solid #5dc542;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  padding: 6px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
main .summary .detailInformation .overfiew .wrap2 .version {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-size: 14px;
  font-weight: 800;
  color: #cacaca;
  font-family: "Roboto", sans-serif;
  margin-bottom: 8px;
}
main .summary .detailInformation .overfiew .wrap2 .wrapSelectVersi {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
main .summary .detailInformation .overfiew .wrap2 .wrapSelectVersi select {
  box-sizing: border-box;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 34px;
}
main .summary .detailInformation .confcreator {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  gap: 4px;
}
main .summary .detailInformation .confcreator {
  box-sizing: border-box;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  gap: 4px;
}
main .summary .detailInformation .confcreator .wrap1 {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main .summary .detailInformation .confcreator .buttons {
  box-sizing: border-box;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  border-bottom: 2px solid #dedede;
  gap: 8px;
}
main .summary .detailInformation .confcreator .buttons button {
  box-sizing: border-box;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  border: none;
  outline: none;
  color: #808080;
  cursor: pointer;
}
main .summary .detailInformation .confcreator .buttons button.actif {
  color: black;
  border-bottom: 3.5px solid black;
}
main .summary .detailInformation .confcreator .description {
  box-sizing: border-box;
  width: 70%;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
main .summary .detailInformation .confcreator .wrap2 {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
main .summary .detailInformation .confcreator .wrap2 .type {
  box-sizing: border-box;
  width: 150px;
  background-color: #bebfbf;
  list-style: none;
  font-family: "Roboto", sans-serif;
}
main .summary .detailInformation .confcreator .wrap2 .type li {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  color: white;
  padding: 8px;
}
main .summary .detailInformation .confcreator .wrap2 .type li.actif {
  background-color: #41d21e;
}
main .summary .detailInformation .confcreator .wrap2 .Resource {
  box-sizing: border-box;
  width: 250px;
  background-color: #ffffff;
  list-style: none;
  font-family: "Roboto", sans-serif;
}
main .summary .detailInformation .confcreator .wrap2 .Resource li {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  color: rgb(0, 0, 0);
  padding: 8px;
}
main .summary .detailInformation .confcreator .wrap2 .Resource li.actif {
  background-color: #dedede;
}
main .summary .detailInformation .confcreator .wrap2 .formAcount {
  box-sizing: border-box;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  gap: 12px;
}
main .summary .detailInformation .confcreator .wrap2 .formAcount label {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
main .summary .detailInformation .confcreator .wrap2 .formAcount label .name {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding: 3.5px 6.5px;
  font-size: 12px;
}
main
  .summary
  .detailInformation
  .confcreator
  .wrap2
  .formAcount
  label
  .name
  span {
  box-sizing: border-box;
  color: red;
}
main .summary .detailInformation .confcreator .wrap2 .formAcount label .inputs {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main
  .summary
  .detailInformation
  .confcreator
  .wrap2
  .formAcount
  label
  .inputs
  input {
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  padding: 3.5px 6.5px;
  border: 1.5px solid #dedede;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
main
  .summary
  .detailInformation
  .confcreator
  .wrap2
  .formAcount
  label
  .inputs
  p {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-size: 11px;
  color: #bebfbf;
  margin-top: 4px;
}
main .summary .detailInformation .confcreator .wrap2 .formAcount label input,
main .summary .detailInformation .confcreator .wrap2 .formAcount label select {
  box-sizing: border-box;
  width: 50%;
  background-color: transparent;
  padding: 3.5px 6.5px;
  border: 1.5px solid #dedede;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
main .summary .detailInformation .confcreator .wrap2 .formAcount label select {
  font-size: 14px;
  color: #bebfbf;
}
main .summary .detailInformation .confcreator .wrap2 .formAcount button {
  box-sizing: border-box;
  padding: 4px 40px;
  font-size: 24px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border: none;
  outline: none;
  color: white;
  background-image: linear-gradient(to right, #09a850, #7cc241);
}
@media (max-width: 768px) {
  main .summary .detailInformation .overfiew {
    box-sizing: border-box;
    flex-wrap: wrap;
  }
  main .summary .detailInformation .overfiew .wrap1,
  main .summary .detailInformation .overfiew .wrap2 {
    width: 100%;
    margin-bottom: 32px;
  }
  main .summary .detailInformation .overfiew .wrap2 {
    align-items: center;
  }
}
