* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
main .information {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  padding: 32px 48px;
}
main .information h1 {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-family: "Roboto", sans-serif;
  color: #484d51;
  font-weight: 500;
  margin-bottom: 12px;
}
main .information .buttons {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  gap: 20px;
}
main .information .buttons button {
  box-sizing: border-box;
  border: none;
  outline: none;
  color: white;
  background-color: #198728;
  padding: 8px;
  cursor: pointer;
}
main .information .buttons button.actif {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
main .information .license {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  width: 100%;
}
main .information .license thead tr {
  box-sizing: border-box;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #484d51;
}
.addLicense {
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: rgb(255, 255, 255, 0.8);
  gap: 8px;
}
.addLicense form {
  box-sizing: border-box;
  width: 350px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-family: "Roboto", sans-serif;
  padding: 16px 20px;
  gap: 8px;
}
.addLicense form .head {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addLicense form .head .heading {
  box-sizing: border-box;
  width: 100%;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 8px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.addLicense form .head .close {
  box-sizing: border-box;
  width: 100%;
  text-align: right;
  font-size: 36px;
  font-weight: 300;
  cursor: pointer;
}
.addLicense form label {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1.25px solid #d3d3d3;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.addLicense form select {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1.25px solid #d3d3d3;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 12px;
}
.addLicense form label input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  background-color: transparent;
}
.addLicense form label .message {
  box-sizing: border-box;
  display: none;
  padding: 6px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400;
  color: red;
}
.addLicense form button {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.25px solid #d3d3d3;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 12px;
  cursor: pointer;
}
